.site-wrapper {
    width: 85%;
    padding: 0 0;
    margin: auto;
}

.container {
    display: flex;
    width: 100%;
}

.col-container {
    display: flex;
    flex-direction: column;
    width: 234px;
}

.news-section-container {
    background-repeat: no-repeat;
    display: flex;
    height: 234px;
    width: 234px;
}

.news-title {
    margin-top: 20px;
    margin-bottom: 40px;
}

.news-content {
    border-top: 2px solid #BDBD;

    h6 {
        margin-top: 10px;
    }
}

.news-more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;

    .read-more {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 10px;

        a {
            align-items: center;
            color: $secondary;
            display: flex;
            flex-direction: row;
            gap: 13px;
            text-decoration: none;
            width: 94px;
        }
    }

    .news-date {
        h6 {
            color: #828282;
        }
    }
}

.footer-wrapper {
    margin-left: 8%;
    width: 80%;
}