//HEADER STYLE

.nav-menu {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 100%;

    .new-container {
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 614px;
        margin-top: 15px;
        position: relative;
        width: 100%;
    }

    .top-nav {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;

        ul {
            align-items: center;
            display: flex;
            gap: 20px;
            justify-content: flex-end;
            width: 100%;

            li {
                font-size: $primary-size;

                a {
                    color: $secondary;
                }
            }
        }
    }

    .menu-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: -25%;
        position: relative;
        width: 100%;

        .navbar {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 68%;

            @include respond(sm) {
                .menu-toggle {
                    display: none;
                }
            }

            .navbar-list {
                display: flex;
                flex-direction: row;

                .menu-list {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    li {
                        font-size: $primary-size;
                        padding-left: 8px;
                        padding-right: 4px;

                        a {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

// FRONT PAGE STYLE

.first-section {
    width: 100%;

    .wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-top: -43%;
        position: relative;
        width: 50%;

        h1 {
            color: $primary;
        }

        span {
            background-color: $tertiary;
            border-radius: 80px;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            width: 220px;

            button {
                align-items: center;
                display: flex;
                flex-direction: row;
                gap: 10px;

                p {
                    color: $primary;
                    line-height: 40px;
                }
            }
        }
    }
}

.second-section {
    .secondary-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0;
        position: relative;
        right: -70px;
        width: 95%;

        .minor-container {
            display: flex;
            flex-direction: row;
            position: relative;

            .first-div {
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                height: 654px;
                width: 65%;
                z-index: 1;
            }

            .second-div {
                background-color: $tertiary;
                display: flex;
                flex-direction: column;
                left: -40px;
                padding-bottom: 9px;
                padding-left: 80px;
                padding-right: 100px;
                padding-top: 26px;
                position: relative;
                top: -45px;
                width: 67%;

                h2 {
                    color: $primary;
                    width: 64%;
                }

                h5 {
                    color: $primary;
                    width: 107%;
                }
                
                span {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    width: 106px;

                    button {
                        align-items: center;
                        border: 1.5px solid $primary;
                        border-radius: 80px;
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        margin-left: 66px;

                        h6 {
                            color: $primary;
                            line-height: 33.94px;
                            margin-left: 17px;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .pillars {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 100px;
            width: 96%;

            .pillars-container {
                display: flex;
                flex-direction: row;
                height: 234px;
                justify-content: space-between;
                margin-top: 30px;

                .first-pillar {
                    width: 23%;

                    span { 
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 100px;

                        .item {
                            background-color: $primary;
                            height: 24px;
                            width: 60px;

                            p{
                                color: $secondary;
                                margin-left: 2px;
                            }
                        }

                        span {
                            background-color: none;
                            margin-right: 5px;

                            img {
                                height: auto;
                                object-fit: contain;
                            }
                        }
                    }
                }

                .second-pillar {
                    width: 23%;

                    span { 
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 100px;

                        .item {
                            background-color: $primary;
                            height: 24px;
                            width: 40px;

                            p{
                                color: $secondary;
                                margin-left: 2px;
                            }
                        }

                        span {
                            background-color: none;
                            margin-right: 5px;

                            img {
                                height: auto;
                                object-fit: contain;
                            }
                        }
                    }
                }

                .third-pillar {
                    width: 23%;

                    span { 
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 100px;

                        .item {
                            background-color: $primary;
                            height: 24px;
                            width: 50px;

                            p{
                                color: $secondary;
                                margin-left: 2px;
                            }
                        }

                        span {
                            background-color: none;
                            margin-right: 5px;

                            img {
                                height: auto;
                                object-fit: contain;
                            }
                        }
                    }
                }

                .fourth-pillar {
                    width: 23%;

                    span { 
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 100px;

                        .item {
                            background-color: $primary;
                            height: 24px;
                            width: 64px;

                            p{
                                color: $secondary;
                                margin-left: 2px;
                            }
                        }

                        span {
                            background-color: none;
                            margin-right: 5px;

                            img {
                                height: auto;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }

        .events {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 100px;
            width: 96%;

            .events-container {
                display: flex;
                flex-direction: row;
                gap: 10px;
                height: 399px;
                justify-content: space-between;
                margin-top: 30px;

                .first-event {
                    background-repeat: no-repeat;
                    display: flex;
                    flex-direction: column;
                    padding: 27px;
                    padding-top: 65px;

                    .first-half {
                        display: flex;
                        flex-direction: row;
                        gap: 390px;
                        margin-left: 40px;

                        .date {
                            width: 64px;
                        }

                        h6 {
                            color: $primary;
                        }
                    }

                    .second-half {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-left: 40px;
                        margin-top: -5px;
                        width: 55%;

                        h3 {
                            color: $primary;
                            line-height: 38.7px;
                            width: 104%;
                        } 

                        h6 {
                            color: $primary;
                            margin-top: 15px;
                            width: 100%;
                        }

                        span {
                            display: flex;
                            justify-content: center;
                            margin-top: 13px;
                            width: 150px;

                            button {
                                align-items: center;
                                border: 2px solid $primary;
                                border-radius: 36px;
                                width: 100%;

                                h4 {
                                    color: $primary;
                                    line-height: 40px;
                                }
                            }
                        }
                    }
                }

                .second-event {
                    background-repeat: no-repeat;
                    display: flex;
                    flex-direction: column;
                    padding: 24px;
                    padding-top: 65px;

                    .first-part {
                        display: flex;
                        flex-direction: row;
                        gap: 142px;
                        margin-left: 25px;

                        .date {
                            width: 64px;
                        }

                        span {
                            width: 40px;
                        }
                        
                        h6 {
                            color: $primary;
                        }
                    }

                    .second-part {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-left: 25px;
                        width: 60%;

                        h3 {
                            color: $primary;
                            width: 120%;
                        }

                        span {
                            display: flex;
                            justify-content: center;
                            margin-top: 30px;
                            width: 150px;

                            button {
                                align-items: center;
                                border: 2px solid $primary;
                                border-radius: 36px;
                                width: 100%;

                                h4 {
                                    color: $primary;
                                    line-height: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .news {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 100px;
            width: 96%;

            .news-container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 30px;

                .news-items {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .news-one {
                        @extend .news-section-container;

                        .news-span-1 {
                            align-items: center;
                            background-color: $tertiary;
                            display: flex;
                            flex-direction: row;
                            margin-top: 180px;
                            height: 26px;
                            width: 76px;

                            h6 {
                                color: $primary;
                                margin-left: 3px;
                            }
                        }
                    }

                    .news-two {                        
                        @extend .news-section-container;

                        .news-span-2 {
                            align-items: center;
                            background-color: $tertiary;
                            display: flex;
                            flex-direction: row;
                            margin-top: 180px;
                            height: 26px;
                            width: 106px;

                            h6 {
                                color: $primary;
                                margin-left: 3px;
                            }
                        }
                    }

                    .news-three {
                        @extend .news-section-container;

                        .news-span-3 {
                            align-items: center;
                            background-color: $tertiary;
                            display: flex;
                            flex-direction: row;
                            margin-top: 180px;
                            height: 26px;
                            width: 135px;

                            h6 {
                                color: $primary;
                                margin-left: 3px;
                            }
                        }
                    }

                    .news-four {
                        @extend .news-section-container;

                        .news-span-4 {
                            align-items: center;
                            background-color: $tertiary;
                            display: flex;
                            flex-direction: row;
                            margin-top: 180px;
                            height: 26px;
                            width: 135px;

                            h6 {
                                color: $primary;
                                margin-left: 3px;
                            }
                        }
                    }
                }
            }
        }

        .community {
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            margin-bottom: 100px;
            position: relative;
            width: 96%;

            .first-half {
                background-color: #F5F5F5;
                display: flex;
                flex-direction: column;
                height: 420px;
                padding: 50px;
                position: relative;
                width: 90%;

                h3 {
                    width: 40%;
                }
                h5 {
                    width: 36%;
                }
                
                span {
                    background-color: $tertiary;
                    border-radius: 30px;
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    width: 180px;

                    button {
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        gap: 10px;

                        h4 {
                            color: $primary;
                            font-size: 16px !important;
                            line-height: 52px;
                        }
                    }
                }
            }

            .second-half {
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                height: 516px;
                margin-top: -489px;
                margin-left: 413px;
                width: 667px;
                z-index: 1;
            }
        }
    }
}

.third-section {
    .brand-container {
        background-color: #F2F2F2;
        display: flex;
        height: 190px;
        width: 100%;

        .brand-content {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            img {
                object-fit: contain;
            }
        }
    }

    .newsletter-container {
        background-color: #123234;
        padding-top: 20px;

        .newsletter-wrapper {
            margin-left: 10%;
            width: 80%;

            h3 {
                color: $primary;
                font-weight: 300;
            }
            
            .contact-form {
                margin-top: 20px;
                width: 100%;
    
                .form {
                    display: flex;
                    flex-direction: row;
    
                    .wpcf7.no-js {
                        p {
                            .newsletter-form {
                                .select-newsletter,
                                .first-name,
                                .last-name,
                                .email {
                                    color: $primary;
                                    display: flex;
                                    flex-direction: column;
                                    font-size: 18px!important;
                                    font-weight: 400;
        
                                    span.wpcf7-form-control-wrap {
        
                                        input {
                                            width: 60%;
                                            background: transparent;
                                            border: none;
                                            outline: none;
                                            border-bottom: 1px solid $primary;
                                            color: $primary;
                                            font-size: 18px;
                                        }
        
                                        input:focus,
                                        input:active {
                                            border-color: none;
                                            box-shadow: none;
                                            border: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .donate-container {
        height: 556px;
        width: 100%;

        .donate-wrapper {
            width: 100%;

            h2 {
                color: $primary;
                margin-left: 37%;
                padding-top: 10%;
                text-align: center;
                width: 30%;
            }

            span {
                background-color: $tertiary;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                margin-left: 45%;
                margin-top: 20px;
                width: 200px;

                button {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    h4 {
                        color: $primary;
                        font-size: 16px !important;
                        line-height: 58px;
                    }
                }
            }
        }
    }
}

//FOOTER STYLE
.footer-section {
    color: $primary;
    height: 100%;
    margin: 0%;
    width: 100%;

    .first-footer {
        background-color: #123234;
        height: 445px;
        
        .footer-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 90px;

            h4 {
                font-size: 30px;
                margin-bottom: 30px;
            }

            .our-mission {
                display: flex;
                flex-direction: column;
                width: 37%;

                p {
                    font-size: 16px!important;
                }
            }

            .contact-us {
                display: flex;
                flex-direction: column;
                width: 16%;

                h5 {
                    color: #FFFFFF80;
                    font-size: 12px!important;
                }

                p {
                    font-size: 14px!important;
                }
            }

            .quick-links {
                display: flex;
                flex-direction: column;
                width: 16%;

                .list-menu {
                    a {
                        color: $primary;
                    }
                    
                    p {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                }
            }

            .follow-us {
                display: flex;
                flex-direction: column;
                width: 16%;
            }
        }
    }

    .second-footer {
        background-color: #0B2B2D;
        height: 62px;
    }
}
